/* gerais */

@charset "UTF-8";

:root {
    --corAzulClaro: #AFDDFB;
    --corAzulEscuro: #3082C0;
    --corAmarela: #FCEE1E;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    font-size: 62.5%;
}

.container_flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container_base {
    width: 100%;
    max-width: 1024px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fonte-azul {
    color: var(--corAzulEscuro);
    font-weight: bold;
}

.fonte-amarela {
    color: var(--corAmarela);
    font-weight: bold;
}

/* topo */
.topo-fundo {
    width: 100%;
    background-color: var(--corAzulClaro);
    display: flex;
    align-items: center;
    justify-content: center;
}

#topo_base {
    padding-bottom: 30px;
    gap: 20px;
}

#logo {
    width: 150px;
    height: 150px;
}

.links_nav {
    display: flex;
    gap: 30px;
}

.links_nav a {
    padding-bottom: 2px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(83, 78, 78);
    font-size: 1.8rem;
    border-bottom: 2px solid rgb(83, 78, 78);
}

.links_nav a:hover {
    color: black;
    border-color: black;
}

/* banner */
#logo_banner {
    width: 100%;
    height: auto;
    min-height: 300px;
    max-width: 1024px;
}

/* sobre */
#sobre {
    gap: 25px;
}

#imagem_sobre {
    width: 100%;
    max-width: 450px;
}

.sobre_titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.sobre_titulos h1 {
    font-size: 3.1rem;
}

.sobre_titulos h2 {
    font-size: 2.2rem;
    font-weight: 300;
    color: var(--corAzulEscuro);
}

#sobre p {
    font-size: 1.8rem;
    line-height: 30px;
    text-align: justify;
}

/* servicos */
.fundo_servicos {
    width: 100%;
    background-color: var(--corAzulEscuro);
    display: flex;
    justify-content: center;
}

#servicos {
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
}

#servicos h3 {
    font-size: 2.4rem;
}

#servicos p {
    width: 100%;
    max-width: 667px;
    font-size: 1.8rem;
    text-align: justify;
    line-height: 35px;
}

#servicos ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#servicos ul li {
    font-size: 1.7rem;
}

/* corretores */
#corretores {
    gap: 20px;
}

#corretores h3 {
    color: var(--corAzulEscuro);
    font-size: 2.4rem;
}

#corretores img {
    width: 100%;
    max-width: 450px;
}

#corretores p {
    font-size: 1.8rem;
    text-align: justify;
    line-height: 35px;
}

.links_corretores {
    text-decoration: none;
    font-weight: bold;
    color: rgb(83, 78, 78);
    border-bottom: 2px solid rgb(83, 78, 78);
}

.links_corretores:hover {
    color: black;
    border-color: black;
}

/* contato */
.contato_fundo {
    width: 100%;
    background-color: var(--corAzulEscuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contato {
    padding: 30px 20px;
    display: flex;
    gap: 20px;
    color: white;
    margin-bottom: 15px;
}

#contato h3 {
    font-size: 2.4rem;
}

iframe {
    width: 100%;
    max-width: 1024px;
    height: 350px;
}

#contato p {
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(39, 37, 37);
    font-size: 1.8rem;
    text-align: justify;
}

#contato ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#contato ul li {
    list-style-type: none;
    text-align: center;
}

#contato ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7rem;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#contato ul li a:hover {
    color: var(--corAmarela);
    border-color: var(--corAmarela);
}

/* footer */
.footer_fundo {
    width: 100%;
    margin: -30px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 37, 37);
}

#rodape {
    display: flex;
    gap: 10px;
    font-size: 1.8rem;
    color: white;
}

#rodape a {
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

#link_curso {
    color: rgb(32, 194, 32);
}

#link_nome {
    color: var(--corAmarela);
}

/* media query */

@media screen and (max-width: 450px){
    .links_nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #logo_banner {
        height: 220px;
    }
}